.mainContent {
  min-height: calc(100vh - 70px); /* desktop */
  background-color: #5b73f2;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE */
@media (max-width: 768px) {
  .mainContent {
    min-height: calc(100vh - 60px); /* navbar menor no mobile */
    padding: 0; /* remove espaço verde */
  }
}
